#container {
    width:840px; 
    height: 840px;
    background-color: bisque;
    display: grid;
    grid-template-columns: repeat(16, auto);
    grid-template-rows: repeat(16, auto);
    grid-gap: 1px;
}

.etch {
    background-color : grey; 
}

